* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "fuenteBandori";
    src: url(../fuentes/Softsoul_Bold/Softsoul-Bold.ttf) format('truetype');
}

body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    background-color: aliceblue;
    padding: 15px 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 200;
}

.logoR{
    width: 200px;
}

.menuburger{
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 300;
}

.menuburger .cerrar {
    display: none;
}

#menu{
    display: flex;
    flex-direction: column;
    background-color: #210140;
    height: 100vh;
    width: 400px;
    position: fixed;
    right: -1000px;
    transition: right 1s ease;
    z-index: 100;
    top: 117px;
}

#menu a {
    color: #ffffff;
    padding: 60px;
    font-size: 30px;
    text-decoration: none;
    font-family: 'fuenteBandori';
    font-weight: 400px;
}

#menu:target{
    right: 0;
    z-index: 200;
}

#menu:target ~ header .abrir {
  display: none;
}


#menu:target ~ header .cerrar {
  display: inline;
}

main{
     background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)),
        url(../imagenes/FondoRoselia.webp);
     background-size: cover;
     background-attachment: fixed;
     padding-top: 117px;
}

.continicial{
    display: flex;
    flex-direction: column;
    padding: 20px 80px;
    text-align: center;
}

h1{
    color: #ffffff;
    padding: 30px;
    font-size: 70px;
    font-family: 'fuenteBandori';
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
   -1px  1px 0 black,
    1px  1px 0 black;
}

.texto{
    color: #ffffff;
    padding: 30px 60px;
    font-size: 30px;
    font-family: 'fuenteBandori';
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
   -1px  1px 0 black,
    1px  1px 0 black;
    letter-spacing: 1px;
    line-height: 1.2;
}

h2, h3{
    color: #ffffff;
    padding: 30px;
    font-size: 55px;
    font-family: 'fuenteBandori';
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
   -1px  1px 0 black,
    1px  1px 0 black;
}

h3{
    font-size: 40px;
}

.muestralbum {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 40px 80px;
    scroll-margin-top: 120px;
}

.muestralbum img{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
}

.lorealbum{
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
    text-align: center;
    width: 100%;
}

.cancionesGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 80px;
    column-gap: 40px;
    row-gap: 40px;
}

.cancion {
    background-color: #6756a656;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    text-align: center;
}

.cancion iframe{
    padding: 30px;
    padding-top: 0px;
}

.spotify{
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
    text-align: center;
}

.spotify iframe{
    padding: 0px 200px;
    height: 500px;
}

.infointegrantes{
    padding: 40px 80px;
    text-align: center;
}

.integrantes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 90px;
    justify-content: center;
    margin: 0 auto;
}

.integrante{
    width: 500px;
    text-align: center;
}

.integrante img{
    height: 500px;
}